{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failed</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/loginfailstyle.css'  %}" />
</head>
<body>
    <div class="login-container">
        <h1>Login Failed</h1>
        <p>Your username or password is incorrect. Please try again.</p>
        <a href="login" class="try-again-btn">Try Again</a>
    </div>
</body>
</html>
